node_modules/
.pnpm-store/
.git/
.turbo/
dist/
build/
.next/
.env
.env.*
*.md
*.log
*.tsbuildinfo
Dockerfile*
.gitignore
.gitattributes
.editorconfig
.prettier*
tests/
coverage/
.husky/
.vscode/
.idea/
docker-data/
infrastructure/k8s/

