.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .material-symbols-outlined.fill {
            font-variation-settings: 'FILL' 1;
        }
        
        /* Custom scrollbar for areas list */
        .custom-scrollbar::-webkit-scrollbar {
            width: 4px;
        }
        .custom-scrollbar::-webkit-scrollbar-track {
            background: transparent;
        }
        .custom-scrollbar::-webkit-scrollbar-thumb {
            background-color: #c5c5d3;
            border-radius: 4px;
        }
        
        /* Toggle Switch Styles */
        .toggle-checkbox:checked {
            right: 0;
            border-color: #1e3a8a;
        }
        .toggle-checkbox:checked + .toggle-label {
            background-color: #1e3a8a;
        }
        .toggle-checkbox:checked + .toggle-label:after {
            transform: translateX(100%);
            border-color: white;
        }